extends ../layout

block content
    h1= page.name
    a(href='/pages/#{page._id}/texts/new') New text
    if page.texts.length
        table
            thead
                tr
                    th Id
                    th Body
                    th
            tbody
                each text in page.texts
                    tr
                        td= text.id
                        td= text.body
                        td
                            form(action='/pages/#{page._id}/texts/#{text.slug}', method='post')
                                input(type='hidden', value='DELETE', name='_method')
                                button(type='submit') Delete
