extends ../layout

block content
    .android-more-section
        .android-section-title.mdl-typography--display-1-color-contrast= page.name
        
        .android-card-container
            table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
                thead
                    tr
                        th.mdl-data-table__cell--non-numeric Id
                        th.mdl-data-table__cell--non-numeric Text
                        th 
                            a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored(href='/pages/#{page._id}/texts/new')
                                i.material-icons add
                tbody
                    each text in page.texts
                        tr
                            td.mdl-data-table__cell--non-numeric= text.id
                            td.mdl-data-table__cell--non-numeric= text.body
                            td
                                form(action='/pages/#{page._id}/texts/#{text.id}', method='post')
                                    input(type='hidden', value='DELETE', name='_method')
                                    button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(type='submit')
                                        i.material-icons delete
